.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--corTransparent);
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
    color: var(--corSecundaria);
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;
    margin-bottom: 24px;
}

.listItem {
    list-style: none;
    padding: 24px;
    border: 1px solid var(--corTransparent);
    border-radius: 100px; 
    box-shadow: 0px 2px 4px var(--corTransparent); 
}

.listItemName b,
.itemLanguage b {
    margin-right: 8px;
}

.itemLink {
    display: block;
    background: linear-gradient(45deg, var(--corPrincipal2), var(--corPrincipal1));
    color: var(--corSecundaria);
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    text-decoration: none;
    border-radius: 20px; 
    transition: background-color 0.3s ease-in-out; /* Adicionando transição suave */
}

.itemLink:hover {
    background: var(--corPrincipal1); 
}

.error {
    color: var(--corError);
}